<div
  class="card"
  [ngClass]="{ 'bg-success': art.completed, 'color-dis': !art.completed }"
>
  <h2 class="card-text p-2 text-light text-center" *ngIf="art.author">
    Autore: {{ art.author.firstName }} {{ art.author.lastName }}
  </h2>
  <div class="card-body">
    <h5 class="card-title text-light text-center">{{ art.todo }}</h5>
    <p class="text-light">
      {{ art.completed ? "completato" : "da completare" }}
    </p>
    <input type="checkbox" [(ngModel)]="art.completed" />
  </div>
</div>
